html, body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    h1 {
        background: url('../img/heart_75.png') no-repeat left center transparent;
        padding-left: 50px;
        height: 35px;
    }
}

#page {
    max-width: 800px;
    margin: 1em auto 1em auto;
}
